.landing-page {
  height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.col1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.col2 {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2rem;
}

.bg {
  width: 69%;
}
.r3 {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 70%;
}
.r1 {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
button {
  align-items: center;
  border-radius: 12px;
  background: transparent;
  box-shadow: rgba(20, 20, 20, 0.1) 0 2px 2px 2px;
  color: #7d9d9c;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  outline: none;
  padding: 0.65rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  border: 0;
  touch-action: manipulation;
  justify-content: center;
}

button:hover {
  box-shadow: #7d9d9c 0 2px 2px 2px, transparent 0 0 0 0;
}
.getStartedMobile {
  display: none;
  margin: 2rem 0;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    width: 100%;
  }
  .col1 {
    width: 90%;
  }
  .col2 {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .bg {
    width: 90%;
  }
  .getStartedDesktop {
    display: none;
  }
  .r3 {
    width: 100%;
  }
  .getStartedMobile {
    display: block;
  }
}
