.post {
  margin: 1.5rem 0rem;
  background-color: white;
  border-radius: 15px;

  border: 0.5px solid #e4ecec;
}
.postHeader {
  padding: 1rem;
}

.nameContainer {
  display: flex;
  width: 100%;
}
.nameContainer div p {
  margin: 0;
  font-size: 0.75rem;
}
.desc p {
  font-size: 0.85rem;
}
.postBody {
  display: flex;
  justify-content: center;
}
.postBody img {
  width: 100%;
}
.react {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 0.75rem;
  color: #7d9d9c;
  border-radius: 10px;
  font-weight: 550;
}
.postFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.likesAndComments {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0rem;
}
.likesAndComments span {
  font-size: 0.85rem;
  color: #7d9d9c;
}
.icons {
  margin-right: 5px;
  color: #7d9d9c;
}

.commentSection {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addComment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.addComment input {
  width: 80%;
  border-radius: 20px;
  border: 0.5px solid #d8d9cf;
  outline: none;
  padding-left: 15px;
  margin-left: 10px;
}

.commentProfile {
  width: 8%;
}
.commentItem {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0rem;
}
.commentItem .image {
  width: 6%;
  margin-right: 8px;
}
.commentItem div img {
  border-radius: 12px;
}
.commentBody {
  width: 80%;
  background-color: #e4ecec;
  border-radius: 0px 10px 10px 10px;
  padding: 0.5rem;
}
.header p {
  margin: 0;
  font-size: 0.75rem;
}

.react:hover {
  background-color: #eaeaea;
}
.pressed:active {
  color: #3c4048;
}

.react:active {
  color: #3c4048;
  background-color: #d8d9cf;
}
