.homeBody {
  background-color: #f8f9fa;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.homeCol1 {
  width: 15%;
  /* border: 1px solid black; */
  height: 100%;
  position: sticky;
  top: 10px;
  left: 0;
}

.homeCol2 {
  width: 50%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  height: 100%;
}
.homeCol3 {
  width: 20%;
  /* border: 1px solid black; */
  height: 100%;
}
