.homeBody {
  background-color: #f8f9fa;
  padding: 2rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.homeCol1 {
  width: 15%;
  height: 100%;
  /* position: sticky;
  top: 1px; */
}

.homeCol2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0rem 2rem;
}
.homeCol3 {
  width: 20%;
  height: 100%;
  /* position: sticky;
  top: 1px; */
  /* overflow: scroll; */
}
